*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

/* @media only screen and (min-width: 992px) {

    #introduction
    #project-title
    #about-me 
    #contact { padding: 50px;};
        
    } */

nav {
    font-family: 'Prompt', sans-serif;
    background-color: #71A9F7;
    color: white;
    font-style: bold;

}

#ezra-nav{
    font-family: 'Prompt', sans-serif;
    font-size: 20pt;
}

#other-nav {
    font-family: 'Prompt', sans-serif;
}
#section-title {
    font-size: 40pt;
    font-weight: bold;
    font-family: 'Prompt', sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
}

#description {
    font-size: 14pt;
}

.project-link {
    text-decoration: underline;
    color: black;
}

#lets-talk {
    background-color: #71A9F7;
    border: none;
}

#talk-link {
    color: white;
}

#introduction {
    min-height: 100vh;
    align: center;
    background-color: #E7F0FF;
    color: #143c74 ;
    /* font-size: 16pt; */
}

#project-title {
    background-color: #CBD4C2;
    color: #49593a;
}

#project-cards {
    font-size: 20px;
}

#ezra-img {
    height: 350px;
    width: auto;
    border-radius: 100%;
}

#about-me {
    background-color: #FFFCFF;
    color: #565555;
}

#contact {
    background-color: #E7F0FF;
    color: #0b307a;
}

#contact-text {
    text-align: center;
    display: block;
}

#contact-form {
    background-color: #71A9F7;

}

#inquiry-button {
    background-color: white;
    font-weight: bold;
}

.contact-img {
    height: 50px;
    width: 50px;
    margin: 10px;
}

.footer {
    background-color: white;
    opacity: 75%;
    color: black;
    text-align: center;
}